@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@200;500;700&family=Secular+One&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}
div,h5{
    margin: 0;
    padding: 0;
}
    h2,h4{
    margin: 2px;
    padding: 2px;
}

/*-------------------- 
this is the header part
---------------------- */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    margin-bottom: 20px;
    align-items: center;
}
.header ul{
    display: flex;
    
}
.header li{
    
    list-style: none;
    margin: 10px;
}
.header li a{
    text-decoration: none;
    color: black
}

/* --------------------
this is banner part 
-----------------------*/

.banner{
    display: flex;
    padding-left: 130px;
    margin-bottom: 30px;
}
.banner-detail{
    width: 50%;
    
}
#banner-header{
    font-size: 3.3em;
}


.btn{
    background-color: rgb(224, 42, 72);
    
    padding: 10px 30px;
    border-radius: 20px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 25px;
}
.banner-picture img{
    width: 90%;
    padding: 35px;
}
.banner-picture:hover{
    transform: rotate(30deg);
}

/* ---------------------
this is the logo part
---------------------- */

.logos{
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    margin-bottom: 15px;
    
    
}
.logo{
    margin-right: 50px;
    margin-top: 10px;
    
}
/* --------------------
this is the gadgets part
------------------------ */
.collection{
    display: grid;
    justify-content: center;
    margin-bottom: 15px;
}
.collection-title{
    text-align: center;
    margin-bottom: 25px;
}
.gadgets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:15px;
    

}
.gadget{
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px;
    width: 300px;
    height: 420px;
    
}

.rating{
    display: flex;
    
}
.fa-star.filled{
    color: goldenrod;
}
.fa-star-half-alt.half-filled{
    color: goldenrod;
}
.rating span{
    margin-left: 15px;
}
.see-more {
    display: flex;
    justify-content: end;
    color: rgb(224, 42, 72);
    text-decoration: none;
}
#link-button{
    color: rgb(224, 42, 72);
    text-decoration: none;
    margin-left: 3px;
}
/* ------------------
    conceptual part
---------------------- */
.login-interface{
    display: flex;
    background-color: lightskyblue;
    
}
.half-width-1{
    width:50%;
    margin: 30px;
    padding: 50px;
}
.half-width-2{
    width:50%;
    margin: 30px;
    padding: 30px;
    
}
.half-width-2 button{
    background-color: rgb(224, 42, 72);
    color: white;
}
.form{
    width: 30%;
    background-color: white;
    padding: 35px;
    border-radius: 8px;
}

/* --------------------
     Footer part
------------------ */

.footers{
    background-color: rgb(26, 3, 43);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.icons i{
    margin: 5px;
    padding: 10px;
    font-size: 1.5em;
    background-color: lightgray;
    border-radius: 50%;
}
.foot{
    
    margin: 30px 10px;
    padding: 5px;
}
.para{
    text-align: center;
    margin:2px;
    padding: 2px;
}

/* ---------------------
     responsiveness
---------------------- */

/* ---------------------
        tab devices 
-------------------------*/

@media only screen and (max-width:975px) {
    .header{
        grid-template-columns: repeat(3, 1fr);
    }
    .banner{
        grid-template-columns: repeat(3 ,1fr);
    }
    .collection{
        grid-template-columns: repeat(3 ,1fr);
    }
    .banner {
        display: block;
        padding-left: 20px;
    }
   
    .gadgets {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .login-interface {
        display: block;
        padding: 20px 0px;
    }
    nav {
        display: inline-block;
        padding: 0;
    }
    #banner-header {
        font-size: 2em;
    }
    .half-width-2 {
        padding: 0;
        width: 100%;
        margin: 15px;
    }
    .half-width-1 {
        padding: 0;
    }
    .form {
        width: 80%;
        background-color: white;
        padding: 10px;
    }
    .banner-detail {
        width: 100%;
    }
}

/* -------------------
       mobile devices
---------------------- */

@media only screen and (max-width:688px) {
    .header{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner{
        grid-template-columns: repeat(1 ,1fr);
    }
    .collection{
        grid-template-columns: repeat(1 , 1fr);
    }
    .banner {
        display: block;
        padding-left: 20px;
    }
    .logos {
        display: block;
    }
    .logo{
      
    }
    .logo img{
        width: 50%!important;
        padding: 20px;
    }
    .gadgets {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .login-interface {
        display: block;
        padding: 20px 0px;
    }
    nav {
        display: inline-block;
        padding: 0;
    }
    #banner-header {
        font-size: 2em;
    }
    .half-width-2 {
        padding: 0;
        width: 100%;
        margin: 15px;
    }
    .half-width-1 {
        padding: 0;
    }
    .form {
        width: 80%;
        background-color: white;
        padding: 10px;
    }
    .banner-detail {
        width: 100%;
    }
}